@import "tailwindcss";

:root {
  --background: #f7f7fe;
  --foreground: #0a0a0a;
}



@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-inter:var(--font-inter)
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #ffffff;
    --foreground: #ffffff;
    --font-inter: 'Inter', sans-serif;
  }
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
*:focus {
    outline: none !important;
}

button{
  cursor: pointer;
}


.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


.jodit-wysiwyg ul {
  list-style-type: disc !important;
  padding-left: 24px !important;
  margin-left: 12px !important;
}

.jodit-wysiwyg ol {
  list-style-type: decimal !important;
  padding-left: 24px !important;
  margin-left: 12px !important;
}

.jodit-wysiwyg li {
  display: list-item !important;
}

.jodit-content ul {
  list-style-type: disc !important;
  padding-left: 20px;
}

.jodit-content ol {
  list-style-type: decimal !important;
  padding-left: 20px;
}

.jodit-wysiwyg h1 {
  font-size: 32px !important;
  font-weight: bold;
  margin: 10px 0;
}

.jodit-wysiwyg h2 {
  font-size: 24px !important;
  font-weight: bold;
  margin: 8px 0;
}

.jodit-wysiwyg h3 {
  font-size: 20px !important;
  font-weight: 600;
  margin: 6px 0;
}

.jodit-wysiwyg p {
  font-size: 16px;
  color: #3e3e3f;
  font-weight: normal;
}


.jodit-container {
  width: 100% !important;
  max-width: 100% !important;
}

.jodit-wysiwyg {
  max-width: 100% !important;
  overflow-wrap: break-word !important;
  word-break: break-word !important;
  white-space: normal !important;
}

.jodit-wysiwyg * {
  max-width: 100% !important;
}

