@import "tailwindcss";

:root {
  --background: #f7f7fe;
  --foreground: #0a0a0a;
}



@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-inter:var(--font-inter)
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #ffffff;
    --foreground: #ffffff;
    --font-inter: 'Inter', sans-serif;
  }
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
*:focus {
    outline: none !important;
}

button{
  cursor: pointer;
}


.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


button:active {
  transform: scale(0.9);
  opacity: 80%;
  transition: all;
}

button:hover {
  opacity: 90%;
  transition: all;
}

button:not(:disabled):hover {
  /* opacity: 90%; */
  transition: all;
}

button:disabled {
  cursor: not-allowed;
}


.jodit-wysiwyg li {
  display: list-item !important;
}

.jodit-content ul {
  list-style-type: disc !important;
  padding-left: 20px;
}

.jodit-content ol {
  list-style-type: decimal !important;
  padding-left: 20px;
}

.jodit-wysiwyg h1 {
  font-size: 32px !important;
  font-weight: bold;
  margin: 10px 0;
}

.jodit-wysiwyg h2 {
  font-size: 24px !important;
  font-weight: bold;
  margin: 8px 0;
}

.jodit-wysiwyg h3 {
  font-size: 20px !important;
  font-weight: 600;
  margin: 6px 0;
}

.jodit-wysiwyg p {
  font-size: 16px;
  color: #3e3e3f;
  font-weight: normal;
}


.jodit-container {
  width: 100% !important;
  max-width: 100% !important;
}

.jodit-wysiwyg {
  max-width: 100% !important;
  overflow-wrap: break-word !important;
  word-break: break-word !important;
  white-space: normal !important;
}

.jodit-wysiwyg * {
  max-width: 100% !important;
}






.ck p{
  color: #000000;
  font-size: 18px;
  font-weight: normal;
  font-family: var(--font-inter);
}
.ck h2{

  font-size: 28px !important;
  color: #000000;
  font-family: var(--font-inter);
}

.ck h3{
  color: #000000;
  font-size: 24px;
  font-family: var(--font-inter);
}

.ck h4{
  color: #000000;
  font-size: 20px;
  font-family: var(--font-inter);
}

.ck p{
  color: #070707;
  font-size: 16px;
  font-weight: normal;
  font-family: var(--font-inter);
}

.ck ul{

  padding-left: 24px !important;
  margin-left: 12px !important;
}
.ck ol{
  
  padding-left: 24px !important;
  margin-left: 12px !important;
}

.ck li{
  color: #070707;
  font-size: 16px;
  font-weight: normal;
  font-family: var(--font-inter);
}

.ck .ck-powered-by{
  display: none;
}

.ck a{
  color: #0e74fa;
  font-size: 16px;
}
.ck.ck-editor__main > .ck-editor__editable{
  background-color: var(--background)!important;
  height: 300px !important;
  font-family: var(--font-inter);
  padding-left: 16px;
  padding-right: 16px;
}

.ck.ck-editor__editable > .ck-placeholder::before {
  color: #000000bf !important;
  font-size: 14px;
  font-weight: normal;
}